In [2]:
import pandas as pd 

patient_df = pd.read_csv("/home/dsail/mimic/PATIENTS_INFORMATION.csv")
patient_df = patient_df.drop(columns=['Unnamed: 0'])
patient_df = patient_df[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID']]
print(len(patient_df))
patient_df.head()

1531

   SUBJECT_ID  HADM_ID  ICUSTAY_ID
0        9973   100020      282580
1        3365   100103      200434
2       27290   100137      212691
3        9882   100177      251800
4        5525   100473      257484

In [4]:
proced_df = pd.read_csv("/home/dsail/mimic/physionet.org/files/mimiciii/1.4/PROCEDURES_ICD.csv")
proced_col = ['SUBJECT_ID', 'HADM_ID', 'ICD9_CODE']
proced_df = proced_df[proced_col]
proced_df.head()

   SUBJECT_ID  HADM_ID  ICD9_CODE
0       62641   154460       3404
1        2592   130856       9671
2        2592   130856       3893
3       55357   119355       9672
4       55357   119355        331

In [6]:
from tqdm import tqdm

new_df = pd.DataFrame(columns=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ICD9_CODE'])

for idx, row in tqdm(patient_df.iterrows()):
    subject_id = row["SUBJECT_ID"]
    hadm_id  = row["HADM_ID"]
    icu_id = row["ICUSTAY_ID"]

    icd = proced_df[(proced_df["SUBJECT_ID"]==subject_id) & (proced_df["HADM_ID"]==hadm_id)]
    
    for i, r in icd.iterrows():
        new_df = new_df.append({'SUBJECT_ID': subject_id, 'HADM_ID': hadm_id, 'ICUSTAY_ID': icu_id, 'ICD9_CODE': r["ICD9_CODE"]}, ignore_index=True)
    
new_df.to_csv("/home/dsail/mimic/procedure.csv")

1531it [00:08, 177.14it/s]