In [2]:
import pandas as pd

In [6]:
!pwd

/root/IDL_Project/MIMIC3

In [3]:
patient_info = pd.read_csv("patient.csv")
patient_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'GENDER', 'EXPIRE_FLAG', 'HADM_ID',
       'ICUSTAY_ID', 'LOS', 'AGE', 'cohort', 'Obesity', 'Non.Adherence',
       'Developmental.Delay.Retardation', 'Advanced.Heart.Disease',
       'Advanced.Lung.Disease',
       'Schizophrenia.and.other.Psychiatric.Disorders', 'Alcohol.Abuse',
       'Other.Substance.Abuse', 'Chronic.Pain.Fibromyalgia',
       'Chronic.Neurological.Dystrophies', 'Advanced.Cancer', 'Depression',
       'Dementia', 'Unsure'],
      dtype='object')

In [4]:
med_info = pd.read_csv("medication.csv")
med_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'NDC'], dtype='object')

In [7]:
med_info.head(3)

   Unnamed: 0  SUBJECT_ID   HADM_ID  ICUSTAY_ID          NDC
0           0      9973.0  100020.0    282580.0  781710955.0
1           1      9973.0  100020.0    282580.0          0.0
2           2      9973.0  100020.0    282580.0  904565661.0

In [5]:
proc_info = pd.read_csv("procedure.csv")
proc_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ICD9_CODE'], dtype='object')

In [9]:
proc_info.head(3)

   Unnamed: 0  SUBJECT_ID  HADM_ID  ICUSTAY_ID  ICD9_CODE
0           0        3365   100103      200434       3523
1           1        3365   100103      200434       3615
2           2        3365   100103      200434       3611